
    <div class="container">
        <div class="sidebar">
          <!-- Conteúdo da barra lateral -->
          <h2>Sidebar</h2>
          <label>
            <input type="checkbox" [(ngModel)]="showOutorgas"> Mostrar Outorgas
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="showPivos"> Mostrar Pivos
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="showPropriedades"> Mostrar Propriedades
          </label>
          <!-- Adicione outros filtros conforme necessário -->
        </div>
      
        <div class="map">
          <!-- Conteúdo do mapa -->
          <app-mapa
            [showOutorgas]="showOutorgas"
            [showPivos]="showPivos"
            [showPropriedades]="showPropriedades"
            (onFiltersChange)="readAndAddMarkers($event)"
          >
        </app-mapa>
        </div>
      </div>
